/* Mentee-only global overrides */

/* Hide scrollbar globally for iOS-style appearance */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

body {
  overflow: hidden;
}
